#app {
	padding-top: 25px;
	padding-bottom: 25px;
	outline: 1px solid #eee;
}

.site-title {
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

.pointer {
	cursor: pointer;
}

.carImage {
	width: 100%;
	height: auto;
}

.phoneWrap {
	height: 24px;
	margin-bottom: 16px;
}

.buyModal {
	display: block;
}

.modal-dialog {
	z-index: 1041;
}

/*
animate
.name-enter {}
.name-enter-active {}
.name-enter-to {}

.name-leave {}
.name-leave-active {}
.name-leave-to {}
*/

.phone-enter, .phone-leave-to {
	transform: translateX(100px);
	opacity: 0;
}

.phone-enter-active, .phone-leave-active {
	transition: all .5s;
}




