<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>VueJS приложение на авто тематику</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css" >
    <link rel="stylesheet" href="./css/media.css" >
</head>
<body>

<div class="container" id="app">
    <div class="row mb-3">
        <div class="col">
            <h1 class="site-title">Cars Application</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find your car</label>
                <input
                    type="search"
                    class="form-control"
                    id="search"
                    placeholder="Name, model"
                    v-model="search"
                >
            </div>

            <hr>

            <ul class="list-group">
                <li
                    v-for="(car, index) of filteredCars"
                    class="list-group-item list-group-item-action pointer"
                    @click="selectCar(index)"
                    :class="carItemClassActive(index)"
                >{{car.name}} - {{car.model}}</li>
            </ul>
        </div>

        <div class="col-md-8 pt-3 productDetail">

            <div class="row">
                <div class="col-md-12">
                    <h2>{{car.name}} {{car.model}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img
                        :src="car.image"
                        :alt="car.name"
                        class="carImage rounded"
                    >
                </div>
                <div class="col-md-6 pt-2">
                    <h5>Car Details</h5>
                    <ul class="carInfo">
                        <li>Model - <strong>{{car.model}}</strong></li>
                        <li>Year - <strong>{{car.year}}</strong></li>
                        <li>Owner - <strong>{{car.owner}}</strong></li>
                    </ul>

                    <div class="phoneWrap">
                        <transition name="phone">
                            <p v-if="phoneVisibility">{{car.phone}}</p>
                        </transition>
                    </div>

                    <div class="btns">
                        <button
                            class="btn btn-outline-success mr-3"
                            @click="phoneVisibility = !phoneVisibility"
                        >{{phoneBtnText}}</button>
                        <button
                            class="btn btn-primary"
                            @click="modalVisibility = true"
                        >Buy</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3" v-if="logs.length !== 0">
        <div class="col-md-12">
            <h4 class="mb-3">Last actions:</h4>
            <ul class="list-group">
                <li
                    v-for="log of logs"
                    class="list-group-item"
                    :class="{
                        'list-group-item-secondary': log.type === 'cancel',
                        'list-group-item-success': log.type === 'ok',
                    }"
                >{{log.text}} - {{log.date | formatDate}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="site-dev text-center">
                <a href="http://alisultanov.ru/" target="_blank">Разработка приложения alisultanov.ru</a>
            </div>
        </div>
    </div>

    <!--modal-->
    <div v-if="modalVisibility" class="buyModal modal fade show" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want to buy this car?</h5>
                    <button
                        type="button"
                        class="close"
                        @click="modalVisibility = false"
                    >
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Current car <strong>{{car.name}} {{car.model}}</strong></p>
                    <ul>
                        <li>Model - <strong>{{car.model}}</strong></li>
                        <li>Year - <strong>{{car.year}}</strong></li>
                        <li>Owner - <strong>{{car.owner}}</strong></li>
                        <li v-if="phoneVisibility">Phone - <strong>{{car.phone}}</strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        @click="cancelOrder"
                    >Cancel</button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        @click="newOrder"
                    >Buy</button>
                </div>
            </div>
        </div>

        <div
            v-if="modalVisibility"
            class="modal-backdrop fade show"
            @click="modalClose"
        ></div>
    </div>
    <!--modal end-->
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./app.js"></script>
</body>
</html>

