#app {
	outline: 1px solid #eee;
}

img {
	max-width: 100%;
	height: auto;
}

.pointer {
	cursor: pointer;
}

.carImage {
	width: 100%;
	height: auto;
}

.phoneWrap {
	height: 24px;
	margin-bottom: 16px;
}

.buyModal {
	display: block;
}
